h1{
    font-family: "adobe-jenson-pro-display", serif;
font-weight: 300;
font-style: italic;
}

h2{
    font-family: "adobe-jenson-pro-subhead", serif;
font-weight: 300;
font-style: italic;
}

h3{
    font-family: "adobe-jenson-pro", serif;
font-weight: 300;
font-style: italic;
}